#Cart66AdvancedSidebarAjax {
    padding: 0 10px 5px;
}

#Cart66WidgetCartEmptyAdvanced {
    padding: 10px 0;
    font-weight: bold;
}

.widget.Cart66CartWidget {
    margin-top: 0;
}

article.storeItem {
	position:relative;
}

.Cart66Success {
  position:absolute;
  top:20px;
  left:0px;
}

.Cart66CartButton .purAddToCart {
	margin-top: 3px;
}

#accountManagementLink {
	margin: 20px 0;
	font-size: 20px;
	font-weight: bold;
}

#accountManagementLink a {
	text-decoration: underline;
}

#accountManagementLink a:after {
	content: url("../images/external.png");
}
